
.about {
	font-size: 2em;
	display: flex;
	justify-content: center;
	align-items: center;
	padding-left: 30%;
	padding-right: 30%;
	padding-top: 15%;
}

img {
	position: absolute;
	z-index: -99;
}


.inline-link {
	color: blue;
	text-decoration: underline;
}

.inline-link:hover {
	color: pink;
	text-decoration: line-through;

}

.page-header {
	text-align: left;
	border: none;

}

.social {
	display: flex;
	justify-content: space-around;
	margin: 15%;
}

.social a:hover {
	color: pink;
	text-decoration: line-through;
}

@media screen and (max-width: 600px)
{
	.about {
		font-size: 2em;
		padding: 10%;
	}
}