body {
	font-family: 'Cutive Mono', monospace;
}
.menu {
	font-family: 'Helvetica', sans-serif;
}
.project-info {
	margin: 2%;
	padding: 10%;
}

.name {
	text-decoration: underline;
}
.page-header {

	display: flex;
	justify-content: center;
	align-items: center;
}

.pageheader--left-side {
	padding: 2%;
	text-align: left;
	width: 50%;
}

.pageheader--right-side {
	padding: 2%;
	text-align: left;
	width: 50%;
}

.pageheader--role {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 2%;
	padding: 2% 10% 2% 10%;
}

#role {
	text-align: left;
}

.projects-title {
	text-align: left;
	border-top: 1px solid black;
	margin: 2%;
}


@media screen and (max-width: 900px)
{
	.page-header {
		justify-content: flex-start;
		align-items: flex-start;

	flex-direction: column;

	}
	.pageheader--left-side {
	
	
	width: 100%;
}

.pageheader--right-side {
	
	
	width: 100%;
}

	.pageheader--role {
	flex-direction: column;
	
	}


}