body {

	font-family: 'Helvetica', serif;
	margin: 0;
	padding: 0;
	font-size: 16px;
	width: 100%;

}

a {
	text-decoration: none;
	color: black;
}

.menu {
	
	font-weight: 100;
	

	width: 100vw;
	display: flex;
	justify-content: space-between;
	border-bottom: 1px solid black;
	overflow: hidden;

}

.left-side {
	display: flex;
	padding: 2%;
	border-right: 1px solid black;
}

.right-side {
	padding: 2%;
}

.page-header {
	border-bottom: 1px solid black;
	text-align: center;
	margin: 2%;
	padding: 10%; 
	
}

.projects-title {
	padding-top: 10%; 
	text-align: center;	
	
}

.nostyle-header {
	font-weight: 100;
	font-style: normal;
	font-style: italic;
	font-size: .8em;
}

.project-one {
	padding: 2%;
	display: flex;
	justify-content: center;
	align-items: center;

}

.projectthumbnail {
	max-width: 60vw;
	height: auto;
}

footer {
	border-top: 1px solid black;
	padding: 2%;
	overflow: hidden;
}

@media screen and (max-width: 900px)
{
	.projectthumbnail {
		max-width: 90vw;
		height: auto;
	}
}




