body {
	background-color: #cccccc;
	font-family: "Roboto Mono", monospace;
	color:  #1B3F8B;
	height: 100%;
	overflow: hidden;
	

}

a {
	color: black;
	text-decoration: none;
	padding-left: 2%;
	padding-right: 2%;



}
.nav-bar {
	display: flex;
	flex: 0 0 100%;
	flex-direction: row;
	justfiy-content: flex-end;
	padding-left: 5%;
	padding-left: 5%;
}



h1 {
	display: flex;
	justify-content: center;
	padding-top: 2%;
}

h2 {
	display: flex;
	justify-content: flex-start;
	padding-top: 10%;
	padding-left: 10%;
	padding-right: 10%;
}

@media screen and (min-width: 601px) {
	h2 {
		font-size: 3em; 
	
	}
	
	a {
		font-size: 1em;
	}

}

.name {
	color: black;
}

p {
	display: flex;
	justify-content: flex-start;
	padding: 10%;
	font-style: italic;

}
