body {
	background-color: #DCDCDC;
	font-family: "Times New Roman", serif;
	color:  #0000EE;
	overflow: hidden;

}

h1 {
	display: flex;
	justify-content: center;
}

h2 {
	display: flex;
	justify-content: flex-start;
	padding-top: 10%;
	padding-left: 10%;
	padding-right: 10%;
}

.name {
	color: black;
}

p {
	display: flex;
	justify-content: flex-start;
	padding: 10%;

}
